<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.guiacistore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACTION_DIAL" />

    <application
        android:name=".CustomAplication"
        android:allowBackup="true"
        android:icon="@mipmap/guiaci"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lojas.speednet.SpeedNetActivity"
            android:parentActivityName=".lojas.speednet.SpeedNetActivity"
            android:theme="@style/themeSpeednet" />
        <activity
            android:name=".SobreActivity"
            android:theme="@style/barra_sobre" />
        <activity
            android:name=".lojas.biosinformatica.BiosInformaticaActivity"
            android:parentActivityName=".lojas.biosinformatica.BiosInformaticaActivity"
            android:theme="@style/themeBios" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".lojas.quadrangular.QuadrangularActivity"
            android:parentActivityName=".lojas.quadrangular.QuadrangularActivity"
            android:theme="@style/themeQuadrangular" />
        <activity
            android:name=".lojas.greg.GregBarbeariaActivity"
            android:parentActivityName=".lojas.greg.GregBarbeariaActivity"
            android:theme="@style/themeGreg" />
        <activity
            android:name=".lojas.jobsat.JobSatActivity"
            android:parentActivityName=".lojas.jobsat.JobSatActivity"
            android:theme="@style/themeJobSat" />
        <activity
            android:name=".lojas.publicart.PubliCartActivity"
            android:parentActivityName=".lojas.publicart.PubliCartActivity"
            android:theme="@style/colorPrimaryPubliCart" />
        <activity
            android:name=".lojas.lilidoces.LiliDocesCakesActivity"
            android:parentActivityName=".lojas.lilidoces.LiliDocesCakesActivity"
            android:theme="@style/themeDocesCake" />
        <activity
            android:name=".lojas.evolution.AcademiaEvolutionActivity"
            android:parentActivityName=".lojas.evolution.AcademiaEvolutionActivity"
            android:theme="@style/themeEvolution" />
        <activity
            android:name=".lojas.studioesound.StudioESoundActivity"
            android:parentActivityName=".lojas.studioesound.StudioESoundActivity"
            android:theme="@style/themeEsound" />
        <activity
            android:name=".lojas.rosasaron.RosaDeSaronActivity"
            android:parentActivityName=".lojas.rosasaron.RosaDeSaronActivity"
            android:theme="@style/colorPrimaryRosaDeSaron" />
        <activity
            android:name=".lojas.inove.InoveActivity"
            android:parentActivityName=".lojas.inove.InoveActivity"
            android:theme="@style/themeInove" />
        <activity
            android:name=".lojas.epg.EpgActivity"
            android:parentActivityName=".lojas.epg.EpgActivity"
            android:theme="@style/themeEpg" />
        <activity
            android:name=".redesocial.SpeednetRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.GregBarbeariaRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.IgrejaQuadrangularRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.JobSatRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.LiliDocesCakesRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.AcademiaEvolutionRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.BiosInformaticaRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.IgrejaRosaDeSaronRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.InoveRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.EpgContatosRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lojas.blueway.BlueWayActivity"
            android:parentActivityName=".lojas.blueway.BlueWayActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayParceirosActivity"
            android:parentActivityName=".lojas.blueway.BlueWayActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayMatriculasActivity"
            android:parentActivityName=".lojas.blueway.BlueWayMatriculasActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayContatosActivity"
            android:parentActivityName=".lojas.blueway.BlueWayContatosActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayRedesSociaisActivity"
            android:parentActivityName=".lojas.blueway.BlueWayRedesSociaisActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayFragmentsActivity"
            android:parentActivityName=".lojas.blueway.BlueWayActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayPromocoesActivity"
            android:parentActivityName=".lojas.blueway.BlueWayPromocoesActivity"
            android:theme="@style/themeBlueWay" />

        <activity
            android:name=".lojas.publicart.PublicartParceirosActivity"
            android:parentActivityName=".lojas.publicart.PublicartParceirosActivity"
            android:theme="@style/colorPrimaryPubliCart" />

        <activity android:name=".lojas.publicart.PubliCartServicosActivity"
            android:theme="@style/colorPrimaryPubliCart" android:parentActivityName=".lojas.publicart.PubliCartServicosActivity"/>

        <activity android:name=".lojas.publicart.PubliCartFragmentsActivity" android:parentActivityName=".lojas.publicart.PubliCartFragmentsActivity" android:theme="@style/colorPrimaryPubliCart"/>
        <activity android:name=".lojas.publicart.PublicartContatosActivity"  android:parentActivityName=".lojas.publicart.PublicartContatosActivity" android:theme="@style/colorPrimaryPubliCart"/>
        <activity android:theme="@style/colorPrimaryPubliCart" android:name=".lojas.publicart.PublicartNovidadesActivity" android:parentActivityName=".lojas.publicart.PublicartNovidadesActivity"/>
        <activity android:name=".lojas.publicart.fotos.PubliCartPrimeiraFotoActivity" android:theme="@style/colorPrimaryPubliCart"/>
        <activity android:name=".lojas.publicart.fotos.PubliCartSegundaFotoActivity" android:theme="@style/colorPrimaryPubliCart" />
        <activity android:name=".lojas.publicart.fotos.PubliCartTerceiraFotoActivity" android:theme="@style/colorPrimaryPubliCart" />
        <activity android:name=".lojas.publicart.fotos.PubliCartQuartaFotoActivity" android:theme="@style/colorPrimaryPubliCart"/>


    </application>

</manifest>