<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.guiacistore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACTION_DIAL" />

    <application
        android:name=".CustomAplication"
        android:allowBackup="true"
        android:icon="@mipmap/guiaci"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lojas.SpeedNetActivity"
            android:parentActivityName=".lojas.SpeedNetActivity"
            android:theme="@style/themeSpeednet" />
        <activity
            android:name=".lojas.SobreActivity"
            android:theme="@style/barra_sobre" />

        <activity
            android:name=".lojas.BiosInformaticaActivity"
            android:parentActivityName=".lojas.BiosInformaticaActivity"
            android:theme="@style/themeBios" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".lojas.QuadrangularActivity"
            android:parentActivityName=".lojas.QuadrangularActivity"
            android:theme="@style/themeQuadrangular" />
        <activity
            android:name=".lojas.GregBarbeariaActivity"
            android:parentActivityName=".lojas.GregBarbeariaActivity"
            android:theme="@style/themeGreg" />
        <activity
            android:name=".lojas.JobSatActivity"
            android:parentActivityName=".lojas.JobSatActivity"
            android:theme="@style/themeJobSat" />
        <activity
            android:name=".lojas.RepSolActivity"
            android:parentActivityName=".lojas.RepSolActivity"
            android:theme="@style/colorPrimaryRepSol" />
        <activity
            android:name=".lojas.LiliDocesCakesActivity"
            android:parentActivityName=".lojas.LiliDocesCakesActivity"
            android:theme="@style/themeDocesCake" />
        <activity
            android:name=".lojas.AcademiaEvolutionActivity"
            android:parentActivityName=".lojas.AcademiaEvolutionActivity"
            android:theme="@style/themeEvolution" />


        <activity
            android:name=".lojas.StudioESoundActivity"
            android:parentActivityName=".lojas.StudioESoundActivity"
            android:theme="@style/themeEsound" />
        <activity
            android:name=".lojas.RosaDeSaronActivity"
            android:parentActivityName=".lojas.RosaDeSaronActivity"
            android:theme="@style/colorPrimaryRosaDeSaron" />
        <activity
            android:name=".lojas.InoveActivity"
            android:parentActivityName=".lojas.InoveActivity"
            android:theme="@style/themeInove" />
        <activity
            android:name=".lojas.EpgActivity"
            android:parentActivityName=".lojas.EpgActivity"
            android:theme="@style/themeEpg" />
        <activity
            android:name=".redesocial.SpeednetRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.GregBarbeariaRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.IgrejaQuadrangularRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.JobSatRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.LiliDocesCakesRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.AcademiaEvolutionRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.RepsolRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.BiosInformaticaRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.IgrejaRosaDeSaronRedesSociaisActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".redesocial.InoveRedesSociaisActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".redesocial.EpgContatosRedesSociaisActivity" android:screenOrientation="portrait" />

        <activity android:name=".lojas.BlueWayIdiomasActivity" android:parentActivityName=".lojas.BlueWayIdiomasActivity"  android:theme="@style/themeBlueWay"  />
        <activity android:name=".blueway.BlueWayIdiomasParceirosActivity" android:theme="@style/themeBlueWay"  android:parentActivityName=".lojas.BlueWayIdiomasActivity" />
        <activity android:name=".blueway.BlueWayMatriculasActivity" android:theme="@style/themeBlueWay"   android:parentActivityName= ".blueway.BlueWayMatriculasActivity"   />
        <activity android:name=".blueway.BlueWayIdiomasQuemSomosActivity" android:theme="@style/themeBlueWay"   android:parentActivityName= ".blueway.BlueWayIdiomasQuemSomosActivity"  />
        <activity android:name=".blueway.BlueWayIdiomasPromocoesActivity" android:theme="@style/themeBlueWay"   android:parentActivityName= ".blueway.BlueWayIdiomasPromocoesActivity"   />
        <activity android:name=".blueway.BlueWayIdiomasNossaMissaoActivity"  android:theme="@style/themeBlueWay"  android:parentActivityName= ".blueway.BlueWayIdiomasNossaMissaoActivity"   />
        <activity android:name=".blueway.BlueWayIdiomasContatosActivity"  android:theme="@style/themeBlueWay"  android:parentActivityName= ".blueway.BlueWayIdiomasContatosActivity"  />
        <activity android:name=".blueway.BlueWayIdiomasRedesSociaisActivity" android:theme="@style/themeBlueWay"  android:parentActivityName= ".blueway.BlueWayIdiomasRedesSociaisActivity"   />
        <activity android:name=".lojas.BlueWayFragmentsActivity" android:parentActivityName=".lojas.BlueWayIdiomasActivity" android:theme="@style/themeBlueWay"/>
        <activity android:name=".blueway.BlueWayPromocoesActivity" android:parentActivityName=".blueway.BlueWayPromocoesActivity"  android:theme="@style/themeBlueWay"/>
        <activity android:name=".lojas.BlueWayMapasActivity" android:parentActivityName=".lojas.BlueWayMapasActivity" android:theme="@style/themeBlueWay" />


    </application>

</manifest>