<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.guiacistore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACTION_DIAL" />

    <application

        android:name=".CustomAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_guiaci"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity

            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuiaciMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lojas.speednet.SpeedNetActivity"
            android:parentActivityName=".lojas.speednet.SpeedNetActivity"
            android:theme="@style/themeSpeednet" />
        <activity
            android:name=".SobreActivity"
            android:theme="@style/barra_sobre" />
        <activity
            android:name=".lojas.biosinformatica.BiosInformaticaActivity"
            android:parentActivityName=".lojas.biosinformatica.BiosInformaticaActivity"
            android:theme="@style/themeBios" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".lojas.quadrangular.QuadrangularActivity"
            android:parentActivityName=".lojas.quadrangular.QuadrangularActivity"
            android:theme="@style/themeQuadrangular" />
        <activity
            android:name=".lojas.greg.GregActivity"
            android:parentActivityName=".lojas.greg.GregActivity"
            android:theme="@style/themeGreg" />

        <activity
            android:name=".lojas.publicart.PubliCartActivity"
            android:parentActivityName=".lojas.publicart.PubliCartActivity"
            android:theme="@style/colorPrimaryPubliCart" />
        <activity
            android:name=".lojas.lilidoces.LiliDocesCakesActivity"
            android:parentActivityName=".lojas.lilidoces.LiliDocesCakesActivity"
            android:theme="@style/themeDocesCake" />
        <activity
            android:name=".lojas.evolution.AcademiaEvolutionActivity"
            android:parentActivityName=".lojas.evolution.AcademiaEvolutionActivity"
            android:theme="@style/themeEvolution" />

        <activity
            android:name=".lojas.rosasaron.RosaDeSaronActivity"
            android:parentActivityName=".lojas.rosasaron.RosaDeSaronActivity"
            android:theme="@style/colorPrimaryRosaDeSaron" />
        <activity
            android:name=".lojas.inove.InoveActivity"
            android:parentActivityName=".lojas.inove.InoveActivity"
            android:theme="@style/themeInove" />
        <activity
            android:name=".lojas.epg.EpgActivity"
            android:parentActivityName=".lojas.epg.EpgActivity"
            android:theme="@style/themeEpg" />


        <activity
            android:name=".redesocial.IgrejaRosaDeSaronRedesSociaisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".redesocial.InoveRedesSociaisActivity"
            android:screenOrientation="portrait" />

        <!--<activity-->
            <!--android:name=".lojas.jobsat.JobSatActivity"-->
            <!--android:parentActivityName=".lojas.jobsat.JobSatActivity"-->
            <!--android:theme="@style/themeJobSat" />-->

        <activity
            android:name=".lojas.publicart.PublicartParceirosActivity"
            android:parentActivityName=".lojas.publicart.PublicartParceirosActivity"
            android:theme="@style/colorPrimaryPubliCart" />

        <activity android:name=".lojas.publicart.PubliCartServicosActivity"
            android:theme="@style/colorPrimaryPubliCart" android:parentActivityName=".lojas.publicart.PubliCartServicosActivity"/>

        <activity android:name=".lojas.publicart.PubliCartFragmentsActivity" android:parentActivityName=".lojas.publicart.PubliCartFragmentsActivity" android:theme="@style/colorPrimaryPubliCart"/>
        <activity android:name=".lojas.publicart.PublicartContatosActivity"  android:parentActivityName=".lojas.publicart.PublicartContatosActivity" android:theme="@style/colorPrimaryPubliCart"/>

        <activity android:theme="@style/colorPrimaryPubliCart"  android:name=".lojas.publicart.PubliCartNovidadesActivity"

            android:parentActivityName=".lojas.publicart.PubliCartNovidadesActivity"/>

        <activity android:theme="@style/colorPrimaryFundoFoto"  android:name=".lojas.publicart.fotos.PubliCartPrimeiraFotoActivity" />

        <activity android:name=".lojas.publicart.fotos.PubliCartSegundaFotoActivity" android:theme="@style/themeFotos" />
        <activity android:name=".lojas.publicart.fotos.PubliCartTerceiraFotoActivity" android:theme="@style/themeFotos" />
        <activity android:name=".lojas.publicart.fotos.PubliCartQuartaFotoActivity" android:theme="@style/themeFotos"/>

        <activity android:name=".lojas.blueway.BlueWayActivity" android:theme="@style/themeBlueWay" android:parentActivityName=".lojas.blueway.BlueWayActivity"/>
        <activity
            android:name=".lojas.blueway.BlueWayFragmentsActivity"
            android:parentActivityName=".lojas.blueway.BlueWayActivity"
            android:theme="@style/themeBlueWay" />

        <activity
            android:name=".lojas.blueway.BlueWayMatriculasActivity"
            android:parentActivityName=".lojas.blueway.BlueWayMatriculasActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayContatosActivity"
            android:parentActivityName=".lojas.blueway.BlueWayContatosActivity"
            android:theme="@style/themeBlueWay" />
        <activity
            android:name=".lojas.blueway.BlueWayRedesSociaisActivity"
            android:parentActivityName=".lojas.blueway.BlueWayRedesSociaisActivity"
            android:theme="@style/themeBlueWay" />

        <activity
            android:name=".lojas.blueway.BlueWayPromocoesActivity"
            android:parentActivityName=".lojas.blueway.BlueWayPromocoesActivity"
            android:theme="@style/themeBlueWay" />

        <activity
            android:name=".lojas.blueway.BlueWayParceirosActivity"
            android:parentActivityName=".lojas.blueway.BlueWayActivity"
            android:theme="@style/themeBlueWay" />

        <activity android:parentActivityName=".lojas.epg.EpgActivity"
            android:theme="@style/themeEpg" android:screenOrientation="portrait"
            android:name=".lojas.epg.EpgRedesSociaisActivity" />


        <activity android:parentActivityName=".lojas.epg.EpgNovidadeActivity" android:name=".lojas.epg.EpgNovidadeActivity"  android:theme="@style/themeEpg" />

        <activity   android:theme="@style/themeFotos" android:name=".lojas.epg.fotos.EpgPrimeiraFotoActivity" />
        <activity android:name=".lojas.epg.fotos.EpgSegundaFotoActivity" android:theme="@style/themeFotos" />
        <activity android:name=".lojas.epg.fotos.EpgTerceiraFotoActivity" android:theme="@style/themeFotos"/>
        <activity android:name=".lojas.epg.fotos.EpgQuartaFotoActivity" android:theme="@style/themeFotos"/>
        <activity android:parentActivityName=".lojas.epg.EpgServicosActivity" android:name=".lojas.epg.EpgServicosActivity" android:theme="@style/themeEpg" />
        <activity android:parentActivityName=".lojas.epg.EpgHistoriaActivity" android:theme="@style/themeEpg" android:name=".lojas.epg.EpgHistoriaActivity" />
        <activity android:parentActivityName=".lojas.speednet.SpeednetHistoriaActivity" android:name=".lojas.speednet.SpeednetHistoriaActivity" android:theme="@style/themeSpeednet"  />
        <activity  android:parentActivityName=".lojas.speednet.SpeednetPlanosActivity" android:name=".lojas.speednet.SpeednetPlanosActivity"  android:theme="@style/themeSpeednet"/>
        <activity android:parentActivityName=".lojas.speednet.SpeednetPromocoesActivity" android:name=".lojas.speednet.SpeednetPromocoesActivity" android:theme="@style/themeSpeednet" />
        <activity android:parentActivityName=".lojas.speednet.SpeednetRedesSociaisActivity" android:name=".lojas.speednet.SpeednetRedesSociaisActivity" android:theme="@style/themeSpeednet" />

        <activity android:parentActivityName=".lojas.greg.GregHistoriaActivity" android:name=".lojas.greg.GregHistoriaActivity"  android:theme="@style/themeGreg"/>
        <activity android:parentActivityName=".lojas.greg.GregCortesValoresActivity"  android:name=".lojas.greg.GregCortesValoresActivity" android:theme="@style/themeGreg" />
        <activity android:parentActivityName=".lojas.greg.GregCartaoFidelidadeActivity"  android:name=".lojas.greg.GregCartaoFidelidadeActivity"  android:theme="@style/themeGreg"/>
        <activity android:parentActivityName=".lojas.greg.GregRedesSociaisActivity" android:name=".lojas.greg.GregRedesSociaisActivity"  android:theme="@style/themeGreg"/>
        <activity android:parentActivityName=".lojas.greg.GregPromocoesActivity" android:name=".lojas.greg.GregPromocoesActivity"   android:theme="@style/themeGreg"/>
        <activity android:theme="@style/themeGreg" android:parentActivityName=".lojas.greg.GregNovidadeActivity" android:name=".lojas.greg.GregNovidadeActivity" />
        <activity android:theme="@style/themeFotos"  android:name=".lojas.greg.fotos.GregPrimeiraFotoActivity" />
        <activity android:theme="@style/themeFotos" android:name=".lojas.greg.fotos.GregSegundaFotoActivity" />
        <activity android:theme="@style/themeFotos" android:name=".lojas.greg.fotos.GregTerceiraFotoActivity" />
        <activity android:theme="@style/themeFotos" android:name=".lojas.greg.fotos.GregQuartaFotoActivity" />

        <activity android:parentActivityName=".lojas.jsbarbearia.JsBarbeariaActivity" android:theme="@style/themeJsBarbearia" android:name=".lojas.jsbarbearia.JsBarbeariaActivity" />
        <activity android:parentActivityName=".lojas.jsbarbearia.JsBarbeariaHistoriaActivity" android:name=".lojas.jsbarbearia.JsBarbeariaHistoriaActivity"  android:theme="@style/themeJsBarbearia" />
        <activity android:parentActivityName=".lojas.jsbarbearia.JsBarbeariaServicosActivity" android:name=".lojas.jsbarbearia.JsBarbeariaServicosActivity"  android:theme="@style/themeJsBarbearia" />
        <activity android:parentActivityName=".lojas.jsbarbearia.JsBarbeariaFotosActivity" android:name=".lojas.jsbarbearia.JsBarbeariaFotosActivity"  android:theme="@style/themeJsBarbearia" />
        <activity android:parentActivityName=".lojas.jsbarbearia.JsBarbeariaPromocoesActivity" android:name=".lojas.jsbarbearia.JsBarbeariaPromocoesActivity"  android:theme="@style/themeJsBarbearia" />
        <activity android:parentActivityName=".lojas.jsbarbearia.JsBarbeariaRedesSociaisActivity" android:name=".lojas.jsbarbearia.JsBarbeariaRedesSociaisActivity"  android:theme="@style/themeJsBarbearia"/>
        <activity android:theme="@style/colorPrimaryFundoFoto" android:name=".lojas.jsbarbearia.fotos.JsBarbeariaPrimeiraFotoActivity" />
        <activity android:theme="@style/colorPrimaryFundoFoto" android:name=".lojas.jsbarbearia.fotos.JsBarbeariaSegundaFotoActivity" />
        <activity android:theme="@style/colorPrimaryFundoFoto" android:name=".lojas.jsbarbearia.fotos.JsBarbeariaTerceiraFotoActivity" />
        <activity android:theme="@style/colorPrimaryFundoFoto" android:name=".lojas.jsbarbearia.fotos.JsBarbeariaQuartaFotoActivity" />
        <activity android:theme="@style/themeSpeednet" android:parentActivityName=".lojas.speednet.SpeedNetEnderecoActivity" android:name=".lojas.speednet.SpeedNetEnderecoActivity" />
        <activity  android:theme="@style/themeGreg" android:name=".lojas.greg.GregBarbeariaEnderecoActivity" android:parentActivityName=".lojas.greg.GregBarbeariaEnderecoActivity" />
        <activity  android:theme="@style/themeEpg" android:name=".lojas.epg.EpgImpressoesEnderecoActivity" android:parentActivityName=".lojas.epg.EpgImpressoesEnderecoActivity" />
        <activity android:name=".lojas.blueway.BlueWayEnderecoActivity" android:theme="@style/themeBlueWay" android:parentActivityName=".lojas.blueway.BlueWayEnderecoActivity"  />
        <activity android:name=".lojas.publicart.PublicartEnderecoActivity" android:theme="@style/colorPrimaryPubliCart" android:parentActivityName=".lojas.publicart.PublicartEnderecoActivity" />
        <activity android:parentActivityName=".lojas.evolution.EvolutionHistoriaAcvity"   android:theme="@style/themeEvolution" android:name=".lojas.evolution.EvolutionHistoriaAcvity" />
        <activity android:parentActivityName=".lojas.evolution.EvolutionServicosActivity" android:theme="@style/themeEvolution"  android:name=".lojas.evolution.EvolutionServicosActivity" />
        <activity android:screenOrientation="portrait" android:parentActivityName=".lojas.evolution.EvolutionPromocoesActivity" android:theme="@style/themeEvolution" android:name=".lojas.evolution.EvolutionPromocoesActivity" />
        <activity android:parentActivityName=".lojas.evolution.EvolutionRedesSociaisActivity" android:theme="@style/themeEvolution" android:name=".lojas.evolution.EvolutionRedesSociaisActivity" />
        <activity  android:theme="@style/themeFotos"  android:name=".lojas.evolution.fotos.EvolutionPrimeiraFotoActivity" />
        <activity  android:theme="@style/themeFotos"  android:name=".lojas.evolution.fotos.EvolutionSegundaFotoActivity" />
        <activity  android:theme="@style/themeFotos"  android:name=".lojas.evolution.fotos.EvolutionTerceiraFotoActivity" />
        <activity  android:theme="@style/themeFotos"  android:name=".lojas.evolution.fotos.EvolutionQuartaFotoActivity" />
        <activity android:parentActivityName=".lojas.evolution.EvolutionEnderecoActivity"  android:theme="@style/themeEvolution" android:name=".lojas.evolution.EvolutionEnderecoActivity" />

        <activity android:theme="@style/themeConexao" android:name=".sem_conexao.ConexaoComInternet" />
        <activity android:parentActivityName=".lojas.lilidoces.LiliDocesTortasServicosActivity"
            android:name=".lojas.lilidoces.LiliDocesTortasServicosActivity"
            android:theme="@style/themeDocesCake"  />
        <activity android:theme="@style/themeDocesCake" android:parentActivityName=".lojas.lilidoces.LiliHistoriaActivity"  android:name=".lojas.lilidoces.LiliHistoriaActivity" />
        <activity android:parentActivityName=".lojas.lilidoces.LiliPromocoesActivity"  android:theme="@style/themeDocesCake" android:name=".lojas.lilidoces.LiliPromocoesActivity" />
        <activity android:theme="@style/themeDocesCake" android:parentActivityName=".lojas.lilidoces.LiliContatosRedesSociaisActivity" android:name=".lojas.lilidoces.LiliContatosRedesSociaisActivity" />
        <activity android:theme="@style/themeDocesCake" android:parentActivityName=".lojas.lilidoces.LiliFotosActivity"  android:name=".lojas.lilidoces.LiliFotosActivity" />
        <activity android:theme="@style/themeFotos"  android:name=".lojas.lilidoces.fotos.LiliSegundaFotoActivity" />
        <activity android:theme="@style/themeFotos"  android:name=".lojas.lilidoces.fotos.LiliTerceiraFotoActivity" />
        <activity android:theme="@style/themeFotos"  android:name=".lojas.lilidoces.fotos.LiliQuartaFotoActivity" />
        <activity android:theme="@style/themeFotos"  android:name=".lojas.lilidoces.fotos.LiliPrimeiraFotoActivity" />
        <activity android:parentActivityName=".lojas.evolution.EvolutionFotosActivity" android:theme="@style/themeEvolution"  android:name=".lojas.evolution.EvolutionFotosActivity" />
        <activity android:parentActivityName=".lojas.quadrangular.QuadrangularHistoriaActivity" android:theme="@style/themeQuadrangular" android:name=".lojas.quadrangular.QuadrangularHistoriaActivity" />
        <activity android:parentActivityName=".lojas.quadrangular.QuadrangularCultoCelulasActivity"  android:theme="@style/themeQuadrangular"  android:name=".lojas.quadrangular.QuadrangularCultoCelulasActivity" />
        <activity android:parentActivityName=".lojas.quadrangular.QuadrangularPastorActivity"  android:theme="@style/themeQuadrangular" android:name=".lojas.quadrangular.QuadrangularPastorActivity" />
        <activity android:parentActivityName=".lojas.quadrangular.QuadrangularFotosActivity"  android:theme="@style/themeQuadrangular"  android:name=".lojas.quadrangular.QuadrangularFotosActivity" />
        <activity android:parentActivityName=".lojas.quadrangular.QuadrangularRedeSocialActivity"  android:name=".lojas.quadrangular.QuadrangularRedeSocialActivity" android:theme="@style/themeQuadrangular" />
        <activity android:parentActivityName=".lojas.quadrangular.QuadrangularEnderecoActivity" android:theme="@style/themeQuadrangular" android:name=".lojas.quadrangular.QuadrangularEnderecoActivity" />
        <activity android:parentActivityName=".lojas.biosinformatica.BiosInformaticaFotosActivity"  android:name=".lojas.biosinformatica.BiosInformaticaFotosActivity"  android:theme="@style/themeBios"/>
        <activity android:parentActivityName=".lojas.biosinformatica.BiosInformaticaServicosActivity"  android:name=".lojas.biosinformatica.BiosInformaticaServicosActivity" android:theme="@style/themeBios" />
        <activity android:parentActivityName=".lojas.biosinformatica.BiosInformaticaPromocoesActivity"  android:name=".lojas.biosinformatica.BiosInformaticaPromocoesActivity" android:theme="@style/themeBios" />
        <activity android:parentActivityName=".lojas.biosinformatica.BiosInformaticaEnderecoActivity" android:name=".lojas.biosinformatica.BiosInformaticaEnderecoActivity" android:theme="@style/themeBios" />
        <activity android:parentActivityName=".lojas.biosinformatica.BiosInformaticaRedesSociaisActivity" android:name=".lojas.biosinformatica.BiosInformaticaRedesSociaisActivity"  android:theme="@style/themeBios"/>
        <activity android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaActivity" android:name=".lojas.auto_escola_franca.AutoEscolaFrancaActivity" android:theme="@style/themeAutoEscolaFranca" />
        <activity android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaEnderecoActivity" android:name=".lojas.auto_escola_franca.AutoEscolaFrancaEnderecoActivity"  android:theme="@style/themeAutoEscolaFranca" />
        <activity  android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaFotosActivity"  android:name=".lojas.auto_escola_franca.AutoEscolaFrancaFotosActivity"     android:theme="@style/themeAutoEscolaFranca" />
        <activity  android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaPromocoesActivity" android:name=".lojas.auto_escola_franca.AutoEscolaFrancaPromocoesActivity" android:theme="@style/themeAutoEscolaFranca" />
        <activity android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaHistoriaActivity" android:name=".lojas.auto_escola_franca.AutoEscolaFrancaHistoriaActivity"  android:theme="@style/themeAutoEscolaFranca" />
        <activity android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaRedesSociaisActivity" android:name=".lojas.auto_escola_franca.AutoEscolaFrancaRedesSociaisActivity"  android:theme="@style/themeAutoEscolaFranca" />
        <activity android:parentActivityName=".lojas.auto_escola_franca.AutoEscolaFrancaServicosActivity" android:name=".lojas.auto_escola_franca.AutoEscolaFrancaServicosActivity"  android:theme="@style/themeAutoEscolaFranca" />


    </application>

</manifest>